@page "/Speeds/create"
@using PracTest.Client.Static;
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@inject NavigationManager _navManager




<h3 class="card-title">Create New Speed Value</h3>
<hr />
<br />

<FormComponent ButtonText="Create Speed Value " tasks="@tasks" OnValidSubmit="@CreateTask" />



@code {
    Speed tasks = new Speed();

    private async Task CreateTask()
    {
        await _client.PostAsJsonAsync(Endpoints.ColoursEndpoint, tasks);
        _navManager.NavigateTo("/Speeds/");
    }

}
